/** {
    margin: 0;
    padding: 0;
}*/
.page-header {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    height: 126px;
    background-image: none;
}

    .page-header:before, .page-header:after {
        content: " ";
        display: table;
    }

    .page-header:after {
        clear: both;
    }

    .page-header .container {
        position: relative;
    }


.page-header-menu {
    display: block;
    height: 51px;
    clear: both;
}

.page-header .page-header-menu .hor-menu {
    margin: 0 0 0 -17px;
    margin: 0;
    float: left;
}

    .page-header .page-header-menu .hor-menu .navbar-nav {
        position: static;
    }


.page-header-menu .hor-menu .navbar-nav > li .dropdown-menu {
    margin-top: 0;
    border: none
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.menu-dropdown .dropdown-menu:after,
.page-header .page-header-menu .hor-menu .navbar-nav > li.menu-dropdown .dropdown-menu:before {
    display: none !important;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
    font-size: 14px;
    font-weight: normal;
    padding: 16px 18px 15px 18px;
}

    .page-header .page-header-menu .hor-menu .navbar-nav > li > a:focus {
        background: none !important;
    }

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu {
    margin-top: 0;
    border: none;
}

    .page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a {
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 12px;
        white-space: normal;
    }

.page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a .badge {
    font-weight: 300;
}

.page-header-menu .hor-menu .navbar-nav > li.classic-menu-dropdown .dropdown-menu {
    min-width: 195px;
    max-width: 235px;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.menu-dropdown:hover > .dropdown-menu {
    display: block;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.menu-dropdown:hover > .dropdown-menu {
    display: block;
}
